<div class="row">
  <div class="col-xs-12">
    <h1>Eficiencia</h1>
  </div>
  <div class="col-xs-12">
    Pellentesque tincidunt lacus massa, nec tempor nisl ultrices nec. Fusce in sapien ullamcorper, varius erat in, rutrum eros. Vestibulum pulvinar ipsum nisl, ac interdum purus semper vitae. Maecenas ac leo ac sapien suscipit mollis laoreet sed diam. Proin vulputate eu nisi a facilisis.
  </div>
</div>
