<div class="categories">
  <div class="row">
    <div class="col-xs-6">
      <div class="item">AAA</div>
    </div>
    <div class="col-xs-6">
      <div class="item">BBB</div>
    </div>
  </div>
</div>
